# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.txt
dist/XC8_PIC16F690/production/PIC16F690_-_LED_Controller_Code.production.sym
*.sdb
dist/XC8_PIC16F690/production/PIC16F690_-_LED_Controller_Code.production.rlf
*.obj
*.map
dist/XC8_PIC16F690/production/PIC16F690_-_LED_Controller_Code.production.lst
Makefile
*.properties
nbproject/Makefile-HT_PIC16F54.mk
*.mk
nbproject/Package-HT_PIC16F54.bash
*.bash
nbproject/configurations.xml
*.xml
*.p1
build/XC8_PIC16F690/production/animation.p1.d
*.pre
*.d
dist/XC8_PIC16F690/production/PIC16F690_-_LEDC_Code.production.cmf
*.elf
dist/XC8_PIC16F690/production/PIC16F690_-_LEDC_Code.production.hex
*.hxl
*.lst
dist/XC8_PIC16F690/production/PIC16F690_-_LEDC_Code.production.mum
*.sym
dist/XC8_PIC16F690/production/PIC16F690_-_LED_Controller_Code.production.cmf
*.hex
dist/XC8_PIC16F690/production/PIC16F690_-_LEDC_Code.production.rlf
funclist
